    
  <section id="oss-libraries" class="category">
	  <h4>Open Source Libraries</h4>
	  
	  <a href="http://sahan.github.io/RoboZombie">
	  <div id="robozombie" class="project">
	  	<p><b style="font-size: 14pt; color: #424242;">RoboZombie</b> <small style="color: gray;">&nbsp;for Android</small></p>
	  	<p style="color: silver;"><small>/rō-bō'zŏm'bē/ noun.</small></p>
	    <p style="color: #585858;"><small><b>1.</b> &nbsp;A lightweight HTTP facade which simplifies network communication.</small></p>
	    <p style="color: #585858;"><small><b>2.</b> &nbsp;An endpoint proxy generator for RESTful web services.</small></p>
	  </div>
	  </a>
	  
	  <a href="http://sahan.github.io/IckleBot">
	  <div class="project">
	  	<p><b style="font-size: 14pt; color: #424242;">IckleBot</b> <small style="color: gray;">&nbsp;for Android</small></p>
	  	<p style="color: silver;"><small>/'ikəl'bôt/ noun.</small></p>
	    <p style="color: #585858;"><small><b>1.</b> &nbsp;A boilerplate code generator with a simplified threading and event model.</small></p>
	    <p style="color: #585858;"><small><b>2.</b> &nbsp;A runtime dependency injection framework with model-view binding.</small></p>
	  </div>
	  </a>
	
	  <a href="https://github.com/sahan/ZombieLink">
	  <div class="project">
	  	<p><b style="font-size: 14pt; color: #424242;">ZombieLink</b></p>
	  	<p style="color: silver;"><small>/zŏm'bē'lĭngk/ noun.</small></p>
	    <p style="color: #585858;"><small><b>1.</b> &nbsp;A lightweight HTTP facade which simplifies network communication.</small></p>
	    <p style="color: #585858;"><small><b>2.</b> &nbsp;An endpoint proxy generator for RESTful web services.</small></p>
	  </div>
	  </a>
	
	  <a href="https://github.com/sahan/DroidBallet">
	  <div class="project">
	  	<p><b style="font-size: 14pt; color: #424242;">DroidBallet</b> <small style="color: gray;">&nbsp;for Android</small></p>
	  	<p style="color: silver;"><small>/'droid'ba'lā/ noun.</small></p>
	    <p style="color: #585858;"><small><b>1.</b> &nbsp;Motion based interaction and UI navigation.</small></p>
	  </div>
	  </a>
  </section>
  
  <section id="oss-applications" class="category">
	  <h4>Open Source Applications</h4>
	  
	  <a class="project" href="http://sahan.github.io/Travis-Jr">
		  <p style="text-align: center;"><b style="font-size: 14pt; color: #424242;">Travis Jr.</b> <small style="color: gray;">&nbsp;for Android</small></p>
		  <p style="color: silver; text-align: center;"><small>/'travis'jün-yər/ prop. noun.</small></p>
		  <p style="color: #585858; text-align: center;"><small>A mobile client for the hosted continuous integration service Travis-CI.</small></p>
	  </a>
  </section>
